/web2py/.*
/web2py/*.pyc
/web2py/*.pyo
/web2py/*~
/web2py/#*
/web2py/*.1
/web2py/*.bak
/web2py/*.bak2
/web2py/*.svn
/web2py/*.w2p
/web2py/*.class
/web2py/*.rej
/web2py/*.orig
/web2py/Thumbs.db
/web2py/.DS_Store
/web2py/*.DS_Store
/web2py/index.yaml
/web2py/routes.py
/web2py/logging.conf
/web2py/gluon/tests/VERSION
/web2py/gluon/tests/sql.log
/web2py/httpserver.log
/web2py/httpserver.pid
/web2py/parameters*.py
/web2py/deposit
/web2py/benchmark
/web2py/build
/web2py/dist*
/web2py/dummy_tests
/web2py/optional_contrib
/web2py/ssl
/web2py/docs
/web2py/logs
/web2py/*.zip
/web2py/gluon/*.1
/web2py/gluon/*.txt
/web2py/admin.w2p
/web2py/examples.w2p
/web2py/cron.master
/web2py/applications/*
!/web2py/applications/welcome
!/web2py/applications/welcome/*
!/web2py/applications/examples
!/web2py/applications/examples/*
!/web2py/applications/admin
!/web2py/applications/admin/*
/web2py/applications/*/databases/*
/web2py/applications/*/sessions/*
/web2py/applications/*/errors/*
/web2py/applications/*/cache/*
/web2py/applications/*/uploads/*
/web2py/applications/*/private/*
/web2py/applications/*/*.py[oc]
/web2py/applications/*/static/temp
/web2py/applications/*/progress.log
/web2py/applications/examples/static/epydoc
/web2py/applications/examples/static/sphinx
/web2py/applications/admin/cron/cron.master
/web2py/HOWTO-web2py-devel
/web2py/*.sublime-project
/web2py/*.sublime-workspace
/web2py/.idea/*
/web2py/site-packages/
/web2py/logs/
/web2py/__pycache__/