{{extend 'bank_layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">银行业务管理系统 v1.0</h1>
  </div>
</div>
{{end}}

<div class="row" style="width: 1000px; margin: auto;">
  <div class="col-md-12">
    <h2>欢迎使用银行业务管理系统</h2>
    {{if auth.user:}}
    <p class="lead">{{=T('登录成功！')}}{{=T('欢迎您，')}}{{=auth.user.first_name + ' ' + auth.user.last_name + '！'}}</p>
    {{else:}}
    <p class="lead">{{=T('请先登录')}}</p>
    {{pass}}
    <div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;">
      <div class="container center">
        <a class="btn btn-primary" href="{{=URL('BankSystem','user','logout')}}">
          <i class="fa fa-cog"></i>
          {{=T("登出")}}
        </a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','branch')}}">支行管理</a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','staff')}}">员工管理</a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','client')}}">客户管理</a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','account')}}">账户管理</a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','loan')}}">贷款管理</a>
        <a class="btn btn-secondary" href="{{=URL('BankSystem','default','stat')}}">统计</a>
      </div>
    </div>
  </div>
</div>



